*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:border-box;
}
body{
    background-color: rgba(0,0,0,0.88);
    color:white;
}

.showcase::after {
    content:'';
    height: 100vh;
    width: 100%;
    background-image: url("WhatsApp\ Image\ 2024-04-20\ at\ 11.50.25_7a5ed605.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    display: block;
    filter: blur(10px);
    /* -webkit-filter: blur(10px); */
    transition: all 1000ms;
}

.showcase:hover::after{
    filter: blur(0px);

}
.showcase:hover  .content{
    filter: blur(4px);

}
.content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1s ;
    transition-timing-function: linear;



}

.content i{
    font-size: 100px;

}

.content .title {
    font-size: 2.2rem;
    /* margin-top: 1rem; */

}
.content .text{
/* line-height: 1.7; */
/* margin-top: 1rem; */
font-size: medium;
}
.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}
.grid-3 i{
    font-size: 30px;
    padding: 20px;
    
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    
}
.center{
    text-align: center;
    margin: auto;
}
.center i{
    font-size: 100px;
}
.bg-white {
    background-color: #f4f4f4;
    color: #333;
}
.bg-dark {
    background-color: #333;
    color: #f4f4f4;
}
footer {
    padding: 1.4rem;
}

@media (max-width:560px){
.showcase::after{
    height: 50vh;
}

.content{
    top:5%;
    margin-top:5px;
}
.content i{
    height: 140px;
    width: 140px;
}
.content .text{
    display: none;
}
.grid-3, .grid-2{
    grid-template-columns: 1fr;
}
.services div{
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
}
}

@media(max-height:500px) {
    .content .title, .content .text{
        display: none;
    }
}